{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
    <center><iframe src="http://www.slideshare.net/slideshow/embed_code/23625496" width="412" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
</div>
<p><center><a href="https://docs.google.com/file/d/0B9sD2hMHh2MmWVFaNDg1NXVLaFE/edit?usp=sharing" target="_blank">__</a></p>
{% endblock %}





