

<!DOCTYPE html>
<html>
  <head>
    <title>NewsTweet</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- <link href="/static/css/bootstrap-responsive.css" rel="stylesheet"> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd25-W3YMoqNxrGJW_OALeCi4Sx1_p7MA&sensor=false"></script>
    <script type="text/javascript" src="/static/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/static/js/mapsjquery.js" ></script>
    <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#">NewsTweet</a>
        <ul class="nav">
          <li class="active"><a href="index">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>



