<!DOCTYPE html>
<html>
  <head>
    <title>Fancy Tweet Test Page</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </head>
  <body>
    <blockquote class="twitter-tweet"><p>NSA domestic surveillance was authorized by Sect. 702 of the FAA, which says &quot;notwithstanding&quot; any other law. <a href="https://twitter.com/search?q=%23CISPA&amp;src=hash">#CISPA</a> uses identical wording.</p>&mdash; Declan McCullagh (@declanm) <a href="https://twitter.com/declanm/statuses/347956604399935488">June 21, 2013</a></blockquote>\n<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>